certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
Flask-WTF==0.14.3
gunicorn==20.1.0
ibm-cloud-sdk-core==1.5.1
ibm-watson==4.4.1
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
PyJWT==1.7.1
python-dateutil==2.8.2
python-dotenv==0.13.0
requests==2.27.1
six==1.16.0
urllib3==1.26.9
websocket-client==0.48.0
Werkzeug==2.0.3
WTForms==3.0.1
